.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    margin: 0;
    background-color: darkgreen;
}

.current-weather, .main, .hourly-forecast {
    width: 70%;
    padding: 20px;
    background-color: greenyellow;
    margin: 10px;
    text-align: center;
}

.search {
    margin-top: 10px;
}

input[type="text"] {
    padding: 5px;
    width: 70%;
}

button {
    padding: 5px 10px;
}

img {
    max-width: 100px;
}

#hourlyForecast div {
    margin-bottom: 10px;
    display: inline-block;
    margin: 40px;
}


